<div class='flex gap-2'>
	<div>
		<div class='h-9 w-9	rounded-full bg-black hover:cursor-pointer'
			(class)="navigateToProfile('bob')"></div>
	</div>
	<div class='flex flex-col flex-1'>
		<div class='flex w-full rounded-2xl bg-[#eeedef] dark:bg-[#2e2d2e] p-3 text-black dark:text-white'>
			<div class='flex flex-col flex-1 gap-2'>
				<p class='text-sm'> bob </p>
				<div class='text-xs'>
					<p>hey salut</p>
				</div>
			</div>
			<div class='relative text-black'>
				<div class='flex justify-center items-center text-black dark:text-white hover:cursor-pointer'>
					<i class="fa-solid fa-ellipsis"></i>
				</div>
				<!-- {showDropdown && <OptionsDropdown onDelete={handleDelete} />} -->
			</div>
		</div>
		<div class='flex gap-5 text-sm text-[#3f3f3f]'>
			<p class='hover:cursor-pointer hover:underline'>Like</p>
			<p class='hover:cursor-pointer hover:underline'>Comment</p>
			<p>3h</p>
		</div>

	</div>
</div>