<div class='flex justify-center items-center h-screen bg-white relative'>
	<div class='flex flex-col w-[500px]'>
		<h1 class='text-lg text-[#3e5fd9] font-bold mb-5'>Login</h1>
		<form class='flex flex-col gap-5'>
			<div>
			<input
				class='bg-white p-3 w-full rounded-md border border-[#c0cad8] placeholder-[#c0cad8] placeholder:font-bold'
				placeholder='Email'
				value='mockemail@example.com'
			>
			</div>
	
			<div class='relative'>
			<input 
				class='bg-white p-3 w-full rounded-md border border-[#c0cad8] placeholder-[#c0cad8] placeholder:font-bold'
				placeholder='Password'
				value='mockpassword'
			>
			<a href="/passwordforgot" class='absolute -bottom-9 right-0 text-lg text-[#3e5fd9] font-bold'>Forgot password?</a>
			</div>
	
			<button class='rounded-full bg-[#3e5fd9] text-white mt-7 p-4 font-bold'>SIGN IN</button>
		</form>
		<div class='flex justify-center items-center mt-5'>
			<a href="/signup" class='text-lg text-[#3e5fd9] font-bold'>Don't have an account? Sign up</a>
		</div>
	</div>
	<div class='absolute bottom-12 right-12 w-[500px] h-[500px] bg-home_img1 bg-no-repeat bg-center'></div>
	<div class='absolute bottom-12 left-12 w-[500px] h-[500px] bg-home_img2 bg-no-repeat bg-center'></div>
	<div class='absolute top-12 left-1/2 -translate-x-1/2 w-[280px] h-[140px] bg-contain bg-logo bg-no-repeat bg-center'></div>
</div>