<div class='sticky top-0 z-30 bg-white dark:bg-[#191819] flex justify-between px-6 max-sm:gap-3 sm:px-24 py-2'>
	<div class='flex items-center'>
		<div class='h-3/4 lg:w-[200px] sm:w-[100px] w-[50px] bg-white bg-no-repeat bg-contain hover:cursor-pointer'
			(click)="navigate('/feed')">
		</div>
	</div>
  
	<div class='flex items-center'>
		<div class='relative flex justify-center items-center bg-[#eeedef] dark:bg-[#2e2d2e] h-10 rounded-2xl px-4 w-full'>
			<input 
				class='bg-[#eeedef] dark:bg-[#2e2d2e] outline-none text-black dark:text-white max-sm:w-3/4' 
				placeholder='Search...'
			>
			<!-- <fa-icon [icon]="['fas', 'search']" class='text-black dark:text-white' size='lg'></fa-icon> -->
			<div class="h-8 w-8 bg-black rounded-full"></div>
			<div *ngIf="showDropdown">
				<!-- <app-search-dropdown [users]="users"></app-search-dropdown> -->
			</div>
		</div>
	</div>
  
	<div class='text-black dark:text-white flex items-center lg:hidden'>
		<!-- <fa-icon [icon]="['fas', 'bars']" size='lg'></fa-icon> -->
		<div class="h-8 w-8 bg-black rounded-full"></div>
	</div>
  
	<div class='text-black dark:text-white flex gap-10 items-center max-lg:hidden'>
		<div class='h-8 w-8 flex justify-center items-center rounded-full hover:bg-[#eeedef] dark:hover:bg-[#2e2d2e] transition'
			(click)="toggleDarkMode()">
			<!-- <fa-icon [icon]="['fas', 'moon']" size='lg'></fa-icon> -->
			<div class="h-8 w-8 bg-black rounded-full"></div>
		</div>
		<div class='h-8 w-8 flex justify-center items-center rounded-full'>
			<!-- <fa-icon [icon]="['fas', 'comment-alt']" size='lg'></fa-icon> -->
			<div class="h-8 w-8 bg-black rounded-full"></div>
		</div>
		<div class='h-8 w-8 flex justify-center items-center rounded-full'>
			<!-- <fa-icon [icon]="['fas', 'bell']" size='lg'></fa-icon> -->
			<div class="h-8 w-8 bg-black rounded-full"></div>
		</div>
		<div class='h-8 w-8 flex justify-center items-center rounded-full'>
			<!-- <fa-icon [icon]="['fas', 'arrow-up-right-from-square']" (click)="handleLogout()" size='lg'></fa-icon> -->
			<div class="h-8 w-8 bg-black rounded-full" (click)="handleLogout()"></div>
		</div>
	</div>
</div>
  