<div class='flex-1 flex flex-col gap-3'>
	<div class='flex-1 overflow-y-auto max-h-[399px]'>
	  <!-- <ng-container *ngFor="let comment of fakeComments; let i = index">
		<div [attr.key]="i">
			<app-comment [comment]="comment"></app-comment>
		</div>
	  </ng-container> -->
	</div>
	<div class='flex w-full gap-2'>
	  <div class='h-9 w-9 rounded-full bg-black'></div>
	  <div class='flex w-full rounded-2xl bg-[#eeedef] dark:bg-[#2e2d2e] px-6 pt-3 '>
		<textarea class='flex-1 bg-[#eeedef] dark:bg-[#2e2d2e] p-1 outline-none resize-none hide-scrollbar text-black dark:text-white'
		  placeholder="What's on your mind... ?"
		  value=""></textarea>
		<div class="h-8 w-8 bg-black rounded-full"></div>
	  </div>
	</div>
  </div>
  