<!-- comment-popup.component.html -->
<div class='p-4 flex flex-col gap-4'>
	<div class='w-full flex'>
	  <div class='flex items-center gap-4 flex-1'>
		<div class='h-12 w-12 bg-black rounded-full hover:cursor-pointer'></div>
		<div>
		  <p class='text-black dark:text-white'>johndoe</p>
		  <p class='text-xs text-[#5e5d5e]'>Software Engineer</p>
		</div>
	  </div>
	  <div>
		<div class='relative'>
			<div class="h-8 w-8 bg-black rounded-full"></div>
		</div>
	  </div>
	</div>
	<p class='text-black dark:text-white'>This is a placeholder for the post content.</p>
	<hr class='border-[#e2dee3]'/>
	<div class='flex justify-evenly text-[#3f3e3f] gap-12'>
	  <div class='flex items-center gap-3 hover:cursor-pointer hover:text-[#646264]'>
		<div class="h-8 w-8 bg-black rounded-full"></div>
		<p>42</p>
	  </div>
	  <div class='flex items-center gap-3 hover:cursor-pointer hover:text-[#646264]'>
		<div class="h-8 w-8 bg-black rounded-full"></div>
		<p>17</p>
	  </div>
	</div>
	<hr class='border-[#e2dee3]'/>
	<!-- <app-comment-section-pop-up [post]="post"></app-comment-section-pop-up> -->
  </div>
  