<div class='p-4 flex flex-col gap-4'>

    <!-- <div *ngIf="seeMoreComments" class="see-more-comments"></div> -->

    <div class='w-full flex'>
        <div class='flex items-center gap-4 flex-1'>
            <div class='h-12 w-12 bg-black rounded-full'></div>
            <div>
                <p class='text-black dark:text-white'>{{ post.creator.username }}</p>
                <p class='text-xs text-[#5e5d5e]'>{{ post.creator.job }}</p>
            </div>
        </div>
        <div>
            <div class='relative'>
				<div class="h-8 w-8 bg-black rounded-full"></div>
                <div class="options-dropdown"></div>
            </div>
        </div>
    </div>

    <p class='text-black dark:text-white'>{{ post.content }}</p>

    <hr class='border-[#e2dee3]'/>
    
    <div class='flex justify-evenly text-[#3f3e3f] gap-12'>
        <div class='flex items-center gap-3'>
			<div class="h-8 w-8 bg-black rounded-full"></div>
            <p>{{ post.likesCount }}</p>
        </div>
        <div class='flex items-center gap-3'>
			<div class="h-8 w-8 bg-black rounded-full"></div>
            <p>{{ post.commentsCount }}</p>
        </div>
    </div>
    
    <hr class='border-[#e2dee3]'/>

    <app-comment-section [comments]="post.comments"></app-comment-section>

</div>
