<div class='flex flex-col bg-white dark:bg-[#191819] w-full min-h-[200px] rounded-xl p-4'>
	<div class='flex gap-6 items-center flex-1'>
		<div class='flex items-center flex-1 h-full bg-[#eeedef] dark:bg-[#2e2d2e] rounded-2xl px-6'>
			<textarea class='w-full py-5 bg-[#eeedef] dark:bg-[#2e2d2e] outline-none resize-none hide-scrollbar text-black dark:text-white'
				placeholder="What's on your mind... ?">
			</textarea>
		</div>
	</div>
	<hr class='border-[#e2dee3] my-4'/>
	<div class='flex max-[380px]:gap-4 gap-12 justify-center items-center text-[#eeedef] dark:text-[#2e2d2e]'>
		<div class='flex  items-center gap-3'>
			<div class='h-8 w-8 flex justify-center items-center hover:cursor-pointer'>
				<i class="fa-solid fa-image"></i>
			</div>
			<p class='max-sm:hidden'>Image</p>
		</div>
		<div class='flex  items-center gap-3'>
			<div class='h-8 w-8 flex justify-center items-center hover:cursor-pointer'>
				<i class="fa-regular fa-file-video"></i>
			</div>
			<p class='max-sm:hidden'>GIF</p>
		</div>
		<div class='flex  items-center gap-3'>
			<div class='h-8 w-8 flex justify-center items-center hover:cursor-pointer'>
				<i class="fa-solid fa-file"></i>
			</div>
			<p class='max-sm:hidden'>File</p>
		</div>
			<button class='bg-black dark:bg-white text-white dark:text-black border border-black dark:border-white hover:bg-white hover:text-black hover:border-black dark:hover:bg-[#191819] dark:hover:text-white dark:hover:border-white rounded-full px-6 py-2'>POST</button>
		</div>
</div>
  