<div className='flex justify-center items-center w-full h-full absolute left-0 top-0'>
	<div className='w-full h-full absolute left-0 top-0 bg-white dark:bg-black opacity-60 dark:opacity-60 z-[60]'></div>
  <div className='w-[620px] h-[90%] bg-white dark:bg-[#191819] opacity-100 dark:opacity-100 z-[70] rounded-xl border dark:border-[#2e2d2e]'>
	<div className='flex justify-center items-center p-3'>
		<h1 className='text-black dark:text-white font-bold text-lg'>Comments of Bob</h1>
	</div>
	<hr/>
	<div>
		<!-- <ap-comment-pop-up post={post}/> -->
	</div>
  </div>
</div>